body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  font-family: sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.paragraph {
  color: black;
  text-align: justify;
  padding: 20px;
}

nav {
  top: 0;
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  z-index: 1000; 
}

nav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  margin-right: 10px;
  text-decoration-line: none;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transform-origin: right;
  transition: width 0.3s ease-in-out;
  max-width: 50%;
}

nav a:hover::after {
  width: 100%;
  color: white;
  transform-origin: left;
}

nav li {
  list-style: none;
  margin: 0;
}

nav li.active {
  background-color: white;
}
