{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
}

.nav {
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 0 1 rem;
}

.site-title {
    font-size: 2rem;
    text-decoration-line: none;
    color: black;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    color: black;
}

.nav a {
    color: black;
    height: 100%;
    display: flex;

}

.nav li.active {
    background-color: red; 
 }

.nav li:hover {
    background-color: brown;
}



