.challenge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 62vh; 
  text-align: center;
}

.paragraph {
  max-width: 700px; 
  text-align: justify;
  font-size: 1.4rem; 
  padding: 1rem;
  font-family: 'Noto Sans New Tai Lue', sans-serif;
  font-weight: 500;
  color: black;
  letter-spacing: 2px;
  height: 60vh; 
  margin-inline: auto;
}

.title {
  text-align: center;
  font-family: 'Noto Sans New Tai Lue', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 1000; 
  padding: 1rem;
}
 